
.footer_section{
width:100%;
margin:0%;
padding:0%;
color: white;
}
.footer_section a{
text-decoration: none;
color: white;
}
footer{
width:100%;
color: white;
background-image: url('https://cinemy.vercel.app/static/media/footer-bg.7b1562b2b943d2f5056c.jpg');
}
footer hr{
color: white;
}