


.view_more {
  width: 100%;
  padding-left: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  background: #3a6186;
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);
  background: linear-gradient(to right, #89253e, #3a6186);
  min-height: 100vh; 
  overflow-y: auto; 
}
.moviesalldata{
display: flex;
flex-direction: column;
}

.filter {
  margin:0px 0% 0 1%;
  width:97%;
  height: 40px;
  background-color: #755768;
  border-radius:10px;
}

.filter_button {
  color: #862740;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.moviesloading{
width:100%;
padding: 0%;
margin: 0%;
}
.pagination_movie{
display: flex;
flex-direction: row;
align-content: stretch;
flex-wrap: nowrap;
justify-content: center;
}